{
    order cgi last
}

dxuuu.xyz {
  root * /var/www/dxuuu.xyz
  file_server
  log {
    output file /var/log/caddy/access.log
  }
}

git.dxuuu.xyz {
  @static {
    path /favicon.ico
    path /cgit.css
    path /cgit.png
  }
  file_server @static {
    root /usr/share/cgit
  }
  cgi * /var/www/cgi-bin/cgit
}

thesophiewan.com {
  root * /usr/share/wordpress
  php_fastcgi unix//run/php-fpm/www.sock
  file_server
  encode gzip

  @disallowed {
      path /xmlrpc.php
      path *.sql
      path /wp-content/uploads/*.php
  }

  rewrite @disallowed '/index.php'
}
