{
    order cgi last
}

dxuuu.xyz {
  root * /var/www/dxuuu.xyz
  file_server
  log {
    output file /var/log/caddy/access.log
  }
}

git.dxuuu.xyz {
  @static {
    path /favicon.ico
    path /cgit.css
    path /cgit.png
  }
  file_server @static {
    root /usr/share/cgit
  }
  cgi * /var/www/cgi-bin/cgit
}

pastes.dxuuu.xyz {
  reverse_proxy localhost:3400
}

# prr docs are hosted in prr repo (so CI is simple). Which is GH pages.
# However, I wanna unify all my stuff at my domain, so reverse proxy here.
doc.dxuuu.xyz {
    # Looks like GH is configured to 301 redirect danobi.github.io to
    # bpftrace.org, so to preserve doc.dxuuu.xyz domain, we reverse
    # proxy to danobi.github.io directly.
    reverse_proxy https://danobi.github.io {
      header_up Host {http.reverse_proxy.upstream.hostport}
    }
    # GH also 301 redirects /prr to danobi.github.io/prr/, so handle the
    # redirect here so client doesn't get sent to danobi.github.io.
    redir /prr /prr/
}

thesophiewan.com {
  root * /usr/share/wordpress
  php_fastcgi unix//run/php-fpm/www.sock
  file_server
  encode gzip

  @disallowed {
      path /xmlrpc.php
      path *.sql
      path /wp-content/uploads/*.php
  }

  rewrite @disallowed '/index.php'
}
