{
    order cgi last
}

dxuuu.xyz {
  root * /var/www/dxuuu.xyz
  file_server
  log {
    output file /var/log/caddy/access.log
  }
}

git.dxuuu.xyz {
  @static {
    path /favicon.ico
    path /cgit.css
    path /cgit.png
  }
  file_server @static {
    root /usr/share/cgit
  }
  cgi * /var/www/cgi-bin/cgit
}

# This subdomain is a bit ugly. This should be cleaned up when
# bpftrace.org is no longer hosted at my github.io page.
doc.dxuuu.xyz {
    # Looks like GH is configured to 301 redirect danobi.github.io to
    # bpftrace.org, so to preserve doc.dxuuu.xyz domain, we reverse
    # proxy to bpftrace.org directly.
    reverse_proxy https://bpftrace.org {
      header_up Host {http.reverse_proxy.upstream.hostport}
    }
    # GH also 301 redirects /prr to bpftrace.org/prr/, so handle the
    # redirect here so client doesn't get sent to bpftrace.org.
    redir /prr /prr/
}

pastes.dxuuu.xyz {
  reverse_proxy localhost:3400
}

thesophiewan.com {
  root * /usr/share/wordpress
  php_fastcgi unix//run/php-fpm/www.sock
  file_server
  encode gzip

  @disallowed {
      path /xmlrpc.php
      path *.sql
      path /wp-content/uploads/*.php
  }

  rewrite @disallowed '/index.php'
}
