[Unit]
Description=Update dxuuu.xyz's site files

[Service]
Type=simple
ExecStart=/home/daniel/dxuuu.xyz/scripts/update.sh

[Install]
WantedBy=update-site.timer
