[Unit]
Description=Runs dxuuu.xyz's update script every 10 minutes

[Timer]
# Time delay between each consecutive execution
OnUnitActivateSec=10m
Persistent=true

[Install]
WantedBy=timers.target
